.Single {
  position: relative;
  text-align: left;
  background: white;
  padding-left: 8px;
  margin-top: 6px;
  border: 1px solid lightgray;
}

.BoldText {
  font-weight: bold;
}

.Cursor {
  cursor: pointer;
}

.Date {
  font-size: 12px;
  display: block;
  float: right;
  z-index: 3;
  position: absolute;
  top: 5px;
  right: 5px;
}

