.Single {
  text-align: left;
  position: relative;
  background: white;
  padding-left: 8px;
  margin-top: 6px;
  border: 1px solid lightgray;
}

.BoldText {
  font-weight: bold;
}

.Cursor {
  cursor: pointer;
}