.Main {
  height: 42px;
  width: 100%;
  text-align: right;
  line-height: 50px;
  padding-right: 10px;
}

.SomeUnread {
  display: inline;
  background: salmon;
  color: #fff;
  border-radius: 20px;
  padding: 5px 10px;
}

.AllRead {
  display: inline;
  background: gray;
  color: #fff;
  border-radius: 20px;
  padding: 5px 10px;
}